<mat-toolbar>
  <span>Application</span>
  <div *ngIf="currentUserFacade.selectUserEmail$ | async as email" class="login-content">
    <span>{{ email }}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
  <button *appIsAuth="false" mat-flat-button color="primary" (click)="login()">Login</button>
<!--  <button *appIsAuth mat-flat-button color="primary" (click)="logout()">Logout</button>-->
</mat-toolbar>
