:host {
  margin: 0 !important;
}

div.body {
  z-index: 1;
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1px;

  mat-spinner {
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 50%;
  }
}
